.profile__body {
  text-align: center;
  padding: 0 !important;
}

.profile__body h6,
.profile__body p {
  font-size: 10px;
  font-weight: 700 !important;
}

.profile__body button {
  padding: 5px 10px !important;
  font-size: 10px !important;
  border-radius: 5px !important;
}
