.dashboard {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.home__button {
  margin-top: 59vh;
  background: #1d3c66;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
}

.fa-arrow-left.fa-arrow-left {
  margin-right: 10px;
}

.sidebar {
  background: #183153;
  width: 310px;
}

.dashboard__content {
  width: calc(100vw - 310px);
}

.sidebar__logo {
  color: #fff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 25px;
  padding: 20px 0;
}

.sidebar__link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 12px;
}

.sidebar__logo:hover,
.sidebar__link:hover {
  color: #fff;
}

.sidebar__link.active {
  background: #1d3c66;
}

.sidebar__link img {
  width: 20px;
  margin-right: 10px;
}

.sidebar__link span {
  display: flex;
  align-items: center;
  max-width: 190px;
  margin: 0 auto;
}

.dashboard__header {
  padding: 20px 30px;
  background: #fff;
}

@media screen and (max-width: 1170px) {
  .sidebar {
    width: 260px;
  }
  .dashboard__content {
    width: 100vw;
  }
}

@media screen and (max-width: 880px) {
  .dashboard__header {
    padding: 20px;
  }
}

@media screen and (max-width: 770px) {
  .dashboard {
    flex-wrap: wrap;
    min-height: initial;
  }

  .home__button {
    margin-top: 20px;
  }
  .sidebar {
    width: 100%;
  }
  .admin__content {
    width: 100%;
  }
  .sidebar__logo {
    text-align: left;
    padding: 15px 20px;
  }
  .sidebar__link span {
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 500px) {
  .sidebar__logo {
    font-size: 20px;
    padding: 15px 10px;
  }
  .sidebar__link {
    font-size: 15px;
    padding: 10px 0;
  }
  .dashboard__header {
    padding: 15px 10px;
    font-size: 20px;
  }
}
