.add__place h3 {
  padding: 20px;
  background-color: #fff;
  color: #183153;
  font-weight: 800;
}

.add__place__form {
  padding: 30px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
}

.add__place__form label {
  font-size: 18px;
  font-weight: 500;
  color: #183153;
  margin: 7px 0;
}

.add__place__form input {
  font-family: inherit;
}

.add__place__form .main__button {
  width: 100px;
}
