.counter {
  background-color: #fcf4e0;
  padding: 50px 0;
  margin: 70px 0;
}

.counter__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.single__counter {
  padding: 30px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  background-color: #fff;
}

.single__counter span {
  font-size: 35px;
  color: #183153;
}

.single__counter h5 {
  margin: 20px 0;
  font-weight: 600;
  color: #f91944;
  font-size: 25px;
}

.single__counter p {
  font-weight: 600;
  color: #183153;
}

.single__counter:hover {
  box-shadow: 0 0 20px lightgrey;
}
