.notFound_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notFound {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #fff;
}

.notFound__title {
  font-size: 50px;
}

.notFound__subtitle {
  margin-bottom: 15px;
}

.notFound .main__button {
  border-radius: 50px;
  font-weight: 500;
}
